<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Enter a name</title>
	</head>
	<body>
		<form
			action="https://dev-xn6wkwyc1sx2inoe.us.auth0.com/continue?state=<%= state %>"
			method="post"
		>
			<h1>Enter your credentials</h1>
			<input type="text" name="f_name" placeholder="First Name" />
			<input type="text" name="l_name" placeholder="Last Name" />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>
